<meta name="auth" content="<%= auth %>">
<link rel="stylesheet" href="/src/css/main.css">
<input type="color" id="color">
<input type="text" id="top" placeholder="상단">
<input type="text" id="middle" placeholder="제목">
<input type="text" id="bottom" placeholder="하단">
<input type="text" id="image" placeholder="이미지 URL">
<button onclick="create()">생성하기</button>
<hr />
<%= count %>번째 방문입니다, 
<%= embCount %>개의 임베드가 있습니다
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.0.0/fetch.min.js"></script>
<script src="/src/js/main.js"></script>
